## REVIEW

* How to iterate over a sequence?
* What are some examples of sequence that we have seen so far?
* What are the two ways of using `for` loops?
* How to break a string into words? Which method will I use?
* How to remove trailling and leading whitespace from a string?

In [4]:
"email. vijayanta.jain@maine.edu".split(".", 1)

['email', ' vijayanta.jain@maine.edu']

In [11]:
"something is here".strip("thingsome")

' is her'

In [13]:
"something+is+here".replace("+", "")

'somethingishere'

## List Operations

List comes with a few 
* add items, 
* find out an item's position
* reverse the list
* insert at specific positions
* Find the number of instances of something
* and much more... (after the list variable type `.` and you should see all the methods that list provides)

In [17]:
some_list = [1, 2, 3]
some_list.append(4)
print(some_list)

[1, 2, 3, 4]

In [19]:
from typing import List
list_of_food: list[str] = ["apple", "cherry", "banana", "kiwi"]
list_of_food.index("banana")
list_of_food.index("tomatoes")

ValueError: 'tomatoes' is not in list

In [23]:
list_of_food = ["apple", "cherry", "banana", "kiwi"]

In [24]:
list_of_food.reverse()
print(list_of_food)

list_of_food.insert(0, "tomatoes")
print(list_of_food)

['kiwi', 'banana', 'cherry', 'apple']
['tomatoes', 'kiwi', 'banana', 'cherry', 'apple']

In [25]:
list_of_food.reverse()
print(list_of_food)

list_of_food.insert(0, "tomatoes")
print(list_of_food)

['apple', 'cherry', 'banana', 'kiwi', 'tomatoes']
['tomatoes', 'apple', 'cherry', 'banana', 'kiwi', 'tomatoes']

In [26]:
my_list: list[str] = ["apple", "cherry", "banana", "kiwi"]
meghan_list: list[str] = ["pineapple"]

my_list.extend(meghan_list)
print(my_list)

['apple', 'cherry', 'banana', 'kiwi', 'pineapple']

In [28]:
my_list: list[str] = ["apple", "cherry", "banana", "kiwi"]
meghan_list: list[str] = ["pineapple"]

my_list.append(meghan_list)

print(my_list)

['apple', 'cherry', 'banana', 'kiwi', ['pineapple']]

In [1]:
some_list: list[int] = [1, 2, 3, 4]
another_list: list[int] = [5, 6, 7]
for each_number in another_list:
    some_list.append(each_number)

In [4]:
some_list: list[int] = [1, 2, 3, 4]
another_list: list[int] = [5, 6, 7]
for i in range(0, len(another_list)):
    some_list.append(another_list[i])
print(some_list)

[1, 2, 3, 4, 5, 6, 7]

In [5]:
for i, each_item in enumerate(another_list):
    print(f"{i}. {each_item}")

0. 5
1. 6
2. 7

In [6]:
for _, each_item in enumerate(another_list):
    print(f"{each_item}")

5
6
7

In [2]:
some_list: list[int] = [10, 12, 15, 7, 9, 15, 18, 20, 23]

index:int = 0
while(index <= len(some_list) - 1):
    print(some_list[index])
    index += 1

10
12
15
7
9
15
18
20
23

In [4]:
user_input:str = ""
while(not user_input.isdecimal()):
    user_input = input("Enter a number")

In [5]:
#print only odd values
some_list: list[int] = [10, 12, 15, 7, 9, 15, 18, 20, 23]

index:int = 0
while(index < len(some_list)):
    if some_list[index] % 2 != 0:
        print(some_list[index])
    index += 1

15
7
9
15
23

In [14]:
new_set = (1, 2, 3)
another_new_set = set([1, 2, 2, 3])
print(another_new_set)

{1, 2, 3}

In [15]:
new_set = {1, 2, 3}
type(new_set)

set